<!DOCTYPE html>
<html>
<head>
    <title>Shanghai</title>
    <script src="../static/jquery-3.5.1.min.js"></script>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
<video muted id="video" controls="controls" autoplay="autoplay" loop="loop" height="100%" width="100%"></video>
</body>
<script>
    let nowDate = "000000";

    $(function () {
        getDate();
        setInterval(function () {
            getDate();
        }, 600000);
    });

    function getDate() {
        $.get("/date", function (data) {
            if (data !== nowDate) {
                nowDate = data
                document.getElementById("video").src = '../static/SHANGHAI/SHANGHAI' + data + '.mov'
            }
        });
    }
</script>
</html>